@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1vmax;
	color: white;
	user-zoom: zoom;
}

main {
	background-image: url("../img/jellyfish.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
	font-weight: 300;
    margin: 0.25em;
}

h1 {
	font-size: 200%;
}

h1 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

section {
	background-size: cover;
	font-size: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
}

section:nth-child(1) {
	background-color: rgb(80, 123, 199);
}

section:nth-child(2) {
	background-color: rgb(255, 165, 0);
}

section:nth-child(3) {
	background-color: rgb(73, 116, 79);
}

section:nth-child(4) {
	background-color: rgb(177, 61, 94);
}

section > div {
	flex-basis: 45vw;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
	margin-right: 2vw;
}

section > figure {
	flex-basis: 100vw;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
	margin-right: 0;
}

section p {
	font-size: 75%;
}

section > div:last-child {
	margin-right: 0;
}

section > div > form {
	margin: 0.5em;
}

section > div > form > * {
	display: block;
    margin-bottom: 0.5em;
}

form input,
form select,
form textarea {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
	height: 2em;
	border-radius: 1px;
	border: none;
	outline: none;
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}

form input,
form textarea {
	padding: 0 0.25em;
    width: calc(100% - 0.5em);
}

form input[type="text"]:focus,
form input[type="text"]:active,
textarea:focus,
textarea:active {
	outline: none;
	border: none;
	box-shadow: 0px 0px 2px lightskyblue;
}

form input[type="submit"] {
	background-color: yellowgreen;
    border-color: green;
    width: 100%;
}


.jumpyscroll.nav,
.jumpyscroll.info {
	font-size: 75%;
}

ul {
	list-style-position: outside;
	padding: 0;
}

ul li {
	font-size: 200%;
	line-height: 200%;
	list-style-type: none;
}

ul li i {
	width: 3vw;
}

ul li a {
	color: white;
}

#map {
	width: 1200px;
	height: 80vh;
	border: 1px solid #ccc;
}


@-webkit-keyframes ufo {
  from {
    transform: scale3d(0, 0, 0) translate3d(500px, -500px, 0px);
  }
}
 
@keyframes ufo {
    from {
		transform: scale3d(0, 0, 0) translate3d(500px, -500px, 0px);
	}
}

.ufo {
  -webkit-animation-name: ufo;
  animation-name: ufo;
  -webkit-animation-timing-function: cubic-bezier(1,.38,.3,1.01);
  animation-timing-function: cubic-bezier(1,.38,.3,1.01);
}


@media (max-width: 1024px) {
	.jumpyscroll.nav {
		width: 30px;
		margin: 0;
	}

	.jumpyscroll.nav .prev,
	.jumpyscroll.nav .next {
		width: 30px;
		height: 30px;
		padding: 0;
		border-radius: 0;
		line-height: 30px;
		margin: 0;
	}


	.jumpyscroll.nav .prev {
		background-size: 50%;
		background-position: 50% 50%;
	}

	.jumpyscroll.nav .next {
		background-size: 50%;
		background-position: 50% 50%;
	}

	.jumpyscroll .dot {
		margin: 10px;
		width: 30px;
		height: 30px;
	}
}

pre {
	font-size: 75%;
	background-color: hsla(0, 0%, 0%, 0.4);
	padding: 0;
	margin: 0;
	padding: 0.5rem 1rem;
	margin-bottom: 2rem;
}

code {
    color: hsl(0, 0%, 100%);
    padding: 0;
    font-family: 'Source Code Pro';
    white-space: pre-wrap;
}

