@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: white;
	user-zoom: zoom;
}

main {
	background-image: url("../img/jellyfish.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
	font-weight: 300;
    margin: 0.25em;
}

h1 {
	font-size: 200%;
}

h1 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

section {
	background-size: cover;
	font-size: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
    background-image: url("../img/p3.png");
	background-repeat: repeat;
	background-size: 100px;
	background-blend-mode: soft-light;
}

section:nth-child(1) {
	/*background-image: url("../img/jellyfish-2.jpg");*/
	background-color: rgb(80, 123, 199);
}

section:nth-child(2) {
	/*background-image: url("../img/i2.jpeg");*/
	background-color: rgb(255, 165, 0);
}

section:nth-child(3) {
	/*background-image: url("../img/i3.jpeg");*/
	background-color: rgb(73, 116, 79);
}

section:nth-child(4) {
	/*background-image: url("../img/i4.jpeg");*/
	background-color: rgb(177, 61, 94);
}

section > div {
	flex-basis: 45vw;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
	margin-right: 2vw;
}

section > div:last-child {
	margin-right: 0;
}

section > div > form {
	margin: 0.5em;
}

section > div > form > * {
	display: block;
    margin-bottom: 0.5em;
}

form input,
form select,
form textarea {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
	height: 2em;
	border-radius: 1px;
	border: none;
	outline: none;
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}

form input,
form textarea {
	padding: 0 0.25em;
    width: calc(100% - 0.5em);
}

form input[type="text"]:focus,
form input[type="text"]:active,
textarea:focus,
textarea:active {
	outline: none;
	border: none;
	box-shadow: 0px 0px 2px lightskyblue;
}

form input[type="submit"] {
	background-color: yellowgreen;
    border-color: green;
    width: 100%;
}


.jumpyscroll.nav,
.jumpyscroll.info {
	font-size: 75%;
}

ul {
	list-style-position: outside;
	padding: 0;
}

ul li {
	font-size: 200%;
	line-height: 200%;
	list-style-type: none;
}

ul li i {
	width: 3vw;
}

ul li a {
	color: white;
}

#map {
	width: 400px;
	height: 400px;
	border: 1px solid #ccc;
}

.popup {
	width: auto;
	border-radius: 0.5em;
	height: auto;
	padding: 1em;
	font-size: 65%;
	line-height: 1.5em;
	display: none;
	background-color: rgb(255, 152, 0);
	color: rgb(255, 255, 255);
	position: fixed;
	top: 2vh;
	left: 1vw;
	z-index: 100;
}

.popup div.close {
    position: absolute;
    font-size: 1em;
    top: 0em;
    right: 0.4em;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.popup div.close:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}